
    a:hover {
      background-color: peachpuff;
    }
    #fAcme {
      font-family: 'Acme', sans-serif; 
      font-size: 40px; 
      color:#3e2c58;
      line-height:40px;
     }
   body {
    margin: 0;
    padding: 0;
}

    div maincontainer {
    margin: 0 auto;
    width: ___px;
    text-align: center;
}

   ul {
    margin: 0;
    padding: 0;
}

   ul li {
    margin-left: auto;
    margin-right: auto;
}

a { 
  font-size: 18px;
  
}  
td {
    text-align: center;
    font-weight: 700;
}